<%= stylesheet_link_tag "ingredientes" %>

<div class="content">
	<%= render 'submenu' %>

	<div class="novoingrediente">
		<h1> Novo ingrediente </h1><br>
		<%= form_for(@ingrediente) do |f| %>
			<p><%= flash[:notice] %></p>
			
			<%= f.label :codigo, "Código do ingrediente", :class => 'lb_ingrediente' %><br>
			<%= f.text_field :codigo, value: @ingrediente.codigo, :class => 'text' %><br><br>
			
			<%= f.label :description, "Descrição", :class => 'lb_ingrediente' %><br>
			<%= f.text_area :description, value: @ingrediente.description, :class => 'descricao' %><br>
			<br><br>

			<%= f.select :ativo, [['Ativo', true], ['Não Ativo', false]] %><br><br>
			
			<br><%= f.submit "Cadastrar", :class => 'submit_tag' %>
			
		<% end %>
	</div>
</div>