<h1> Edição usuario </h1>

<%= form_for(@user) do |f| %>

	<%= f.label :Nova_senha, "Senha", :class => 'labels' %>
	<%= f.password_field :senha, :class => "text_field" %><br><br>
	<%= f.label :confirmacao_senha, "Confirmar senha", :class => 'labels' %>
	<%= f.password_field :senha_confirmation, :class => "text_field" %><br><br>

	<%= f.submit "Atualizar senha", :class => "submit_tag" %>
<% end %>