<h1>Login de usuários</h1>

<p><%= flash[:notice] %></p>

<%= form_tag logar_url,method: :post do %>
	<%= label_tag :email %>
	<%= text_field_tag :email %><br><br>
	<%= label_tag :senha %>
	<%= text_field_tag :senha %><br><br>
	<%= submit_tag "Logar" %>
	<br><br><br>
	<%= link_to 'Cadastrar', cadastro_path %>
<% end %>
