<h1>Cadastrar usuário</h1>

<%= form_for(@user) do |f| %>
<p><%= flash[:notice] %></p>
	<p>
		<%= f.label :name %><br>
		<%= f.text_field :name %>
	</p>
	<p>
		<%= f.label :email %><br>
		<%= f.text_field :email %>
	<p>
		<%= f.label :senha %><br>
		<%= f.password_field :senha %><br>
	</p>
	<p> 
		<%= f.label :senha_confirmation %><br>
		<%= f.password_field :senha_confirmation %><br>
	</p>
	<p>
		<%= f.submit "Cadastrar" %>
	</p>

	<%= link_to 'Login', login_path %>
<% end %>