<%= stylesheet_link_tag "receitas" %>

<div class="content">
	<%= render 'submenu' %>

	<div class="mostrareceitas" >
		<%= form_tag receitas_url, method: :get, class: 'busca' do %>
			<p>ID</p>
			<%= text_field_tag :filtra_id, params[:filtra_id], :class => "busca_field" %>
			<%= submit_tag "Buscar" %>
		<% end %>
		<%= form_tag receitas_url, method: :get, class: 'busca' do %>
			<p>Codigo racao</p>
			<%= text_field_tag :filtra_codigo_racao, params[:filtra_codigo_racao], :class => "busca_field" %>
			<%= submit_tag "Buscar" %>
		<% end %>


		<table>
			<tr>
				<th class="linha">ID receita</th>
				<th class="linha">ID ração</th>
				<th class="linha">Código ração</th>
				<th class="linha">Raceita</th>
				<th class="linha">Apagar</th>
			</tr>

			<% @receita.each do |receita| %>
				<tr>
					<td class="linhalista"><%= receita.id %></td>
					<td class="linhalista"><%= receita.racao_id %></td>
					<td class="linhalista"><%= Racao.find_by_id(receita.racao_id).try(:cod) %></td>
					<td class="linhalista"><%= link_to "Ver", receita %></td>
					<td class="linhalista"><%= link_to "Apagar", receita, method: :delete, data: { confirm: 'Apagar receita?' } %></td>
				</tr>
			<% end %>

		</table>
	</div>
</div>