<%= stylesheet_link_tag "receitas" %>

<div class="content">
	<%= render 'submenu' %>
	<div class="">
		<table id="Receitas">
			<tr>
				<th class="linha" colspan="4">ID da receita: <%= @receita.id %></th>
			</tr>

			<tr>
				<th class="linha" colspan="4">Dados da ração</th>
			</tr>
			<tr>
				<th class="linha">ID</th>
				<th class="linha">Código</th>
				<th class="linha">Descrição</th>
				<th class="linha">Status</th>
			</tr>
		
			<tr>
				<td class="linhalista"><%= @racao.id %></td>
				<td class="linhalista"><%= @racao.cod %></td>
				<td class="linhalista"><%= @racao.description %></td>
				<td class="linhalista">
					<% if @racao.ativa %>
						Ativa
					<% else %>
						Não ativa
					<% end %>
				</td>
			</tr>
		</table><br><br>
		<table id="Receitas">
			<tr>
				<th class="linha" colspan="5">Ingredientes</th>
			</tr>
			<tr>
				<th class="linha">ID</th>
				<th class="linha">Código</th>
				<th class="linha">Descrição</th>
				<th class="linha">Status</th>
				<th class="linha">Percentual</th>
				<th class="linha">Ação</th>
			</tr>
			
			<% i = 0 %>
			<% total_percentual_receita = 0 %>
			<% @ingredientes_receita.each do |ingrediente_receita| %>
				<tr>
					<td class="linhalista"><%= ingrediente_receita.id %></td>
					<td class="linhalista"><%= ingrediente_receita.codigo %></td>
					<td class="linhalista"><%= ingrediente_receita.description %></td>
					<td class="linhalista">
						<% if ingrediente_receita.ativo %>
							Ativo
						<% else %>
							Não ativo
						<% end %>
					</td>
					<td class="linhalista"><%= @percentuais[i] %></td>
					<% total_percentual_receita = total_percentual_receita + @percentuais[i] %>
					<% id_imgrec = ImgRec.find_by_img_id(ingrediente_receita.id) %>
					<td class="linhalista"><%= link_to "Remover", removeingrediente_path(id: id_imgrec) %></td>
				</tr>
				<% i = i + 1 %>
			<% end %>
			<tr>
				<td><%= link_to "Adicionar ingrediente", addingrediente_path %>	</td>
				<td></td>
				<td></td>
				<td></td>
				<td class="linhatotal">Total: <%= total_percentual_receita %></td>
			</tr>
		</table>


	</div>
</div>