<%= stylesheet_link_tag "racaos" %>

<div class="content" >
	<%= render 'submenu' %>
	<div class="mostraracoes" >
		
		<table id="Racoes">
			<tr>
				<th class="linha">Código</th>
				<th class="linha">Descrição</th>
				<th class="linha">Status</th>
				<th class="linha">Ação</th>

			</tr>

			<% @racao.each do |racao| %>
				<tr>
					<td class="linhalista"><%= racao.cod %></td>
					<td class="linhalista"><%= racao.description %></td>
					<td class="linhalista">
						<% if racao.ativa %>
							Ativa
						<% else %>
							Não ativa
						<% end %>
					</td>
					<td><%= link_to 'Apagar', racao, method: :delete, data: { confirm: 'Apagar ração?'} %> 
					<%= link_to "Ver ração", racao %></td>
				</tr>
			<% end %>
		</table>
	</div>

</div>
