<%= stylesheet_link_tag "racaos" %>

<div class="content" >
	<%= render 'submenu' %>
	<div class="nova_racao">
		<h1> Cadastrar nova ração </h1>

		<%= form_for(@racao) do |f| %>
			<p><%= flash[:notice] %></p>
			<%= f.label :cod, "Código da ração", :class => 'labels' %><br>
			<%= f.text_field :cod, value: @racao.cod, :class => 'text_field' %>

			<%= f.label :description, :class => 'labels' %><br>
			<%= f.text_field :description, value: @racao.description, :class => 'text_field' %>
			<br><br>

			<%= f.select :ativa, [['Ativa', true], ['Não Ativa', false]] %><br><br>
			
			<br><%= f.submit "Cadastrar", :class => 'submit_tag' %>
			
		<% end %>
	</div>
</div>