<%= stylesheet_link_tag "racaos" %>

<div class="content">
	<%= render 'submenu' %>
	<div class="mostraracao">
		<h1>Ração</h1><br>

		<p class="labels">Código: <%= @racao.cod %></p><br>

		<p class="labels">Descrição: <%= @racao.description %></p><br>

		<p class="labels">Status da ração: 
			<% if @racao.ativa %>
				Ativa
			<% else %>
				Não ativa
			<% end %>
		</p><br>

		<table>
			<tr>
				<td class="linha_show"><%= link_to "Editar", edit_racao_path %></td>
				<td class="linha_show"><%= link_to "Apagar", @racao, method: :delete, data: { confirm: 'Apagar ração?'} %></td>
			</tr>
		</table>		
	</div>
</div>