<!DOCTYPE html>
<html>
<head>
  <title>Fabrica</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="menu">
	<% if session[:usuario] && session[:usuario] != "" %>
		<strong><%= link_to 'Mostrar todos', mostrartodos_path %></strong>
		<strong><%= link_to 'Sing out', login_off_path %></strong>
	<% else %>
		<strong><%= link_to 'Cadastrar', cadastro_path %></strong>
	<% end %>
</div>
<%= yield %>

</body>
</html>
