<!DOCTYPE html>
<html>
<head>
  <title>Fabrica</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="menu">
	<% if session[:usuario] && session[:usuario] != "" %>
		<%= link_to 'Sing out', login_off_path, class: 'text_menu' %>
		<%= link_to 'Usuários', mostrartodos_path, class: 'text_menu' %>
		<%= link_to 'Ingredientes', ingredientes_path, class: 'text_menu' %>	
		<%= link_to 'Rações', mostraracoes_path, class: 'text_menu' %>
		<%= link_to 'Receitas', receitas_path, class: 'text_menu' %>		
	<% else %>
		<%= link_to 'Cadastrar', cadastro_path, class: 'text_menu' %>
	<% end %>
</div>
<%= yield %>

</body>
</html>
